body {
  background-color: #030303; /* Dunkler Schwarzton */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.uhr-container {
  background-color: #030303;       /* dunkler Container */
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: 0 0 15px color(black black black black)
}

#uhr {
  color: #00BFFF;               /* Klarer cyanfarbener Text */
  font-size: 6em;
  font-weight: bold;
  letter-spacing: 8px;
  text-align: center;
}
